/* .Table {
    
} */

.tableHeader {
    display: flex;
    flex-direction: 'row';
    align-items: center;
    justify-content: 'space-around';
}

.DrinkItem {
    display: flex;
    flex-direction: 'row';
    align-items: center;
    justify-content: 'space-around';
    padding: 1px;
    border-radius: 6px;
    border: 1px solid #4CAF50;
    margin: 5px;
    
}

.drinkCategory {
    width: 15%;
    margin: 0;
    cursor: pointer;
}

.filter-select{
    width: 30%;
    padding: 8px 10px;
    border-width: 1px;
    border-radius: 4px;
}